@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.App {
  display: grid;
  place-items: center;
}
.ChatApplication {
  width: 100%;
  display: flex;
  .ChatApplication__Sidebar {
    height: 100vh;
    padding: 20px;
    flex: 0.25;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    .ChatApplication__Input {
      display: flex;
      align-items: center;
      background: #fff;
      margin-top: 20px;
      padding: 10px;
      border-radius: 50px;
      button {
        background: #5278f7;
      }
      .ChatApplication__SearchIcon {
        color: #fff !important;
      }
      input {
        padding: 7px;
        outline-width: 0;
        width: 100%;
        border: none;
        font-size: 16px;
        color: #9e9e9e;
      }

      ::placeholder {
        color: #9e9e9e !important;
      }
    }
    .ChatApplication__SideBarHeader {
      display: flex;
      justify-content: space-between;
      .ChatApplication__Header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        color: #5278f7;
        width: 100%;
        padding: 10px;
        .ChatApplication__Button {
          .ChatApplication__EditIcon {
            color: #626264;
          }
        }

        .ChatApplication__Profile {
          margin-top: 10px;
          display: flex;
          align-items: center;
          width: 100%;
          .ChatApplications__Inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            input {
              width: 100%;
              margin-top: 10px;
              margin-bottom: 10px;
              padding: 15px;
              margin-left: 20px;
              border: none;
              outline-width: 0;
              font-size: 16px;
            }
          }
        }
        .ChatApplication__Avatar {
          padding: 25px;
          font-size: 25px;
          font-weight: bold;
          background: #5278f7;
        }
        .ChatApplication__Name {
          margin-left: 20px;
          p {
            color: #656567;
          }
          h2 {
            font-size: 25px;
          }
        }
      }
    }
    .ChatApplication__BodyChat {
      margin-top: 20px;
      flex: 1;
      overflow: scroll;
      .ChatApplication__H3Loading {
        text-align: center;
        margin-top: 50px;
        color: #4c7dfe;
      }
    }
  }
  .ChatApplication__ChatBody {
    flex: 0.75;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    .ChatApplication__NoRooms {
      color: #4c7dfe;
      display: grid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #d9d9d9;
      .Header__InputField {
        padding: 15px;
        width: 0px;
        border: none;
        outline-width: 0;
        background: #f9f9f9;
        opacity: 0;
        transition: 350ms ease;
      }

      .Header__InputField.active {
        opacity: 1;
        width: 300px;
      }
      .HeartFavorite {
        color: red;
      }
      .NotifacationFavourite {
        color: #2bc735 !important;
      }
      .Header__Icons {
        margin-right: 50px;
        margin-left: 100px;
        display: flex;
        .MuiSvgIcon-root {
          color: #626264;
          font-size: 30px;
        }
      }
      .Header__NameAvatar {
        display: flex;
        align-items: center;
        width: fit-content;
        .Header__CircleIcon {
          color: #2bc735;
          font-size: 28px;
          margin-left: 5px;
          margin-top: 3px;
        }
        h1 {
          margin-left: 15px;
          color: #5278f7;
        }
        .Header__Avatar {
          padding: 30px;
          font-size: 30px;
          font-weight: bold;
          background: #5278f7;
        }
      }
    }
  }
  .MessageBody {
    flex: 1;
    padding: 30px 50px;
    width: 100%;
    overflow: scroll;
    border-bottom: 1px solid #dbe2ec;
    .MessagesBody__NoRoom {
      color: #4c7dfe;
      text-align: center;
    }
  }
  .MessagesIcons {
    margin: 30px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 350px;
    margin-right: auto;

    .MessagesIcons__Avatar {
      background: #5278f7;
      margin-right: 10px;
      font-weight: bold;
    }

    .MessagesIcons__Message {
      background: #f9f9f9;
      line-height: 22px;
      padding: 20px;
      border-radius: 15px;
      font-weight: 500;
    }
    .MessagesIcons__Name {
      color: #5278f7;
      font-weight: 600;
      margin-left: 5px;
      margin-bottom: 10px;
    }
  }
  .MessagesIcons.active {
    margin: 30px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 350px;
    margin-left: auto;
    flex-direction: row-reverse;

    .MessagesIcons__Avatar {
      background: #5278f7;
      margin-left: 10px;
    }
    .MessagesIcons__Name {
      text-align: right;
      margin-right: 10px;
    }
    .MessagesIcons__Message {
      background: #5278f7;
      padding: 20px;
      border-radius: 15px;
      color: #fff;
      font-weight: 500;
      line-height: 22px;
    }
  }
  .InputField {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .InputFields__Container {
      width: 100%;
      border-radius: 50px;
      padding: 10px 50px;
      display: flex;
      margin-bottom: 5px;
    }
    button {
      background: #4c7dfe;
      padding: 15px;
      color: #fff;
    }
    input {
      font-size: 17px;
      padding: 13px;
      border: none;
      outline-width: 0;
      background: transparent;
      width: 100%;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 10px;
}
